/public/
/resources/
/--disableFastRender/
/storage/
/vendor/
/node_modules/
/bootstrap/
/package-lock.json
/package.json
/phpunit.xml
/composer.json
/composer.lock
/artisan
/server.php
/webpack.mix.js
/yarn.lock
/README.md
/phpunit.xml.dist
/server.php
/artisan
/composer.json